
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model List<My_App.Store.Demo.Models.CartProductViewModel>
@{
    var count = 1;
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <div class="table-responsive text-nowrap bg-warning">
        <table class="table table-hover text-danger">
            <thead>
            <tr>
                <th class="text-center">ردیف</th>
                <th class="text-center">نام کالا</th>
                <th class="text-center">تعداد سفارش</th>
                <th class="text-center">قیمت واحد</th>
                <th class="text-center">مجموع قیمت</th>
            </tr>
            </thead>
            <tbody class="table-border-bottom-0 text-white">
            @if (Model.Count > 0)
            {
                @foreach (var item in Model)
                {


                    <tr>
                        <td class="text-center"><strong>@(count++)</strong></td>
                        <td class="text-center"><strong>@item.ProductName</strong></td>
                        <td class="text-center"><strong>@item.Qty</strong></td>
                        <td class="text-center"><strong>@item.Price</strong></td>
                        <td class="text-center">
                            <strong>
                                @item.TotalPrice()
                            </strong>
                        </td>
                       
                    </tr>


                }
            }


            </tbody>
        </table>

        <div class="col-2">
            <a class="btn btn-outline-success " asp-controller="Home" asp-action="FinalPurchase">ثبت نهایی</a>
        </div>
    </div>
}
@*<td class="text-center"><a class="badge bg-label-danger me-1" asp-controller="Home" asp-action="DeleteBasket" asp-route-id="@item.Id">حذف از سبد خرید</a></td>*@